<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ken Collins" />
    <meta name="google-site-verification" content="W3DG-CkoWHypH24OfrGmGbMezvhC6AyLql4jLI7hXhI" />
    <title>chenyyang</title>
    <link rel="stylesheet" href="/blog/resource/reset.css" />
    <link rel="stylesheet" href="/blog/resource/site.css" />
    <link rel="shortcut icon" href="/favicon.png" />
    <script src="/blog/resource/jquery-1.7.1.min.js"></script> 
    <script src="/blog/resource/site.js"></script>
  </head>
  <body>
    <header id="mast">
      <div class="content">
        <section id="identity" >
          <div id="avatar"></div>
          <div>chenyyang</div>
          <div>博客</div>
        </section>
        <nav>
          <ul>
            <li><a href="/blog/" class="button" data-icon="H">Home</a></li>
            <li><a href="" class="button" data-icon="U">About Me</a></li>
            <li><a href="http://twitter.com/metaskills" class="button" data-icon="B">Twitter</a></li>
            <li><a href="/blog/archive.html" class="button" data-icon="l">Archives</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <section id="page">
      <section id="content">
        {{ content }}
      </section>
      <nav>
        <div><a href="http://www.youtube.com/watch?v=8pBTK-pdMP0"></a></div>
        <h3>Categories</h3>
        <ul>
          <li><a href="/blog/categories/linux.html">Linux</a></li>
          <li><a href="/blog/categories/jmockit.html">Jmockit</a></li>
          <li><a href="/blog/categories/gitsvn.html">Git/Svn</a></li>
          <li><a href="/blog/categories/database.html">Database</a></li>
          <li><a href="/blog/categories/java.html">Java</a></li>
	 <li><a href="/blog/categories/other.html">Others</a></li>
        </ul>
      </nav>
    </section>
</body>

<script type="text/javascript">
var n=0;
while(n < $(".code").size()){
   var d=document.getElementsByName("code")[n]
   var str=document.getElementsByName("code")[n].innerHTML;
   document.getElementsByName("code")[n].innerHTML=((str.replace(/<(.+?)>/gi,"&lt;$1&gt;")).replace(/ /gi,"&nbsp;").replace(/\n/gi,"<br>"));   
   n++;
}
</script>

</html>
